.envrc
build
.direnv
.cache
.clangd

/subprojects/*
!/subprojects/packagefiles
!/subprojects/*.wrap
/subprojects/moderngpu.wrap
/subprojects/openssl.wrap
/subprojects/zlib.wrap

*.*-rep
*.sqlite
*.html
.spack-env
nohup.out
benchmark_results.csv
benchmark_results.txt
benchmark_results_new.csv
benchmark*.json
benchmark*.csv
*.csv
.venv
doxygen
__pycache__
data